@import 'variables';

:host {
  display: flex;
  justify-content: center;
  height: calc(100vh - 165px);
  align-items: center;
  font-family: $font-main;
}

.form__input {
  &.ng-invalid {
    border-color: red;;
  }
}
