<form 
  [formGroup]="searchForm" 
  class="search"
  (submit)="onSubmit()">
    <label for="username" class="searc__label">Search {{title}}</label>
    <input 
      type="text"
      id="search" 
      placeholder="Search {{title}}"
      formControlName="search"
      class="search__input">
    <button 
      type="submit" 
      class="button search__button">
      Search
    </button>
    <button 
      *ngIf="!searchIsEmpty"
      type="button" 
      class="button search__button search__button--cancel"
      (click)="cancel()">
      Cancel
    </button>
</form>
