<form 
  [formGroup]="searchForm" 
  class="search"
  (submit)="onSubmit()">
  <div class="input-container">
    <label for="username" class="search__label form__label">Search {{title}}</label>
    <input 
      type="text"
      id="search" 
      placeholder="Search {{title}}"
      formControlName="search"
      class="search__input form__input">
  </div>
  <div class="buttons-container">
    <button 
      type="submit" 
      class="button button--main">
      Search
    </button>
    <button 
      *ngIf="!searchIsEmpty"
      type="button" 
      class="button button--additional"
      (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
