<form *ngIf="loginUserForm" [formGroup]="loginUserForm" (submit)="submit()" class="form">
  <h1 class="form__title">Sign In</h1>
  <label for="email" class="form__label">Email</label>
  <input type="text" id="email" placeholder="Email" formControlName="email" class="form__input">
  <label for="password" class="form__label">Password</label>
  <input type="password" id="password" placeholder="Password" formControlName="password" class="form__input">
  <button type="submit" [disabled]="!loginUserForm.valid" class="button form__button">Sign In</button>
</form>
