@import 'variables';

.friend-card {
  font-family: $font-main;
  font-size: 14px;
  line-height: 16px;
  box-shadow: $shadow-bottom;
  background-color: #FFFFFF;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 20px;
}