<h1>Friends</h1>
<app-search
  title="Friends"
  (search)="searchNewFriends($event)"
  (stopSearching)="stopSearching()">
</app-search>

<h2 *ngIf="!searchValue">My Friends</h2>
<app-friends-list
  *ngIf="!searchValue"
  [friends]="friends"
  [abilityToAdd]="false"
  [abilityToRemove]="true"
  (sendIdToRemoveFromCardsList)="removeFriend($event)">
</app-friends-list>

<h2 *ngIf="searchValue">Search New Friends: {{searchValue}}</h2>
<p *ngIf="!friends.length">Sorry, we cannot find such user...</p>
<app-friends-list
  *ngIf="searchValue"
  [friends]="friends"
  [abilityToAdd]="true"
  [abilityToRemove]="false"
  (sendIdToAddFromCardsList)="addFriend($event)">
</app-friends-list>
