/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';

body {
  margin: 0;
  padding: 0;
  background-color: $color-bg;
}

.display-none {
  display: none;
}

h1,
h2 {
  font-family: $font-main;
  font-size: 24px;
}

.button {
  padding: 8px 16px;
  height: 32px;
  box-shadow: $shadow;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}