/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  margin: 0;
  padding: 0 10px;
  background-color: $color-bg;
  font-family: $font-main;
}

.display-none {
  // display: none;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: transparent;
}

h1,
h2 {
  font-size: 24px;
}

.button {
  padding: 8px 16px;
  height: 32px;
  box-shadow: $shadow;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  border: none;
}

.button--main {
  background: $color-main;
  color: #FFFFFF;
}

.button--red {
  background: $color-red;
  color: #FFFFFF;
}

.button--additional {
  background: #FFFFFF;
  color: $color-main;
}